@import "reset";
@import "./variables/global";
@import "./themes/normal";
@import "./themes/dark";

.app {
    font: var(--font-m);

    background: var(--bg-color-primary);
    color: var(--color-primary);

    min-height: 100vh;
}