@import "reset";
@import "./variables/global";
@import "./themes/normal";
@import "./themes/dark";

body {
    font: var(--font-m);
    color: var(--color-primary);
}

.app {
    background: var(--bg-color-primary);
    min-height: 100vh;
}

.content-page {
    display: flex;
}

.page-wrapper {
    flex-grow: 1;
    padding: 1.5rem;
}
