.button {
    cursor: pointer;
    color: var(--color-primary);
}

.clear {
    padding: 0;
    border: 0;
    background: none;
    outline: none;
}

.secondary {
    padding: 0;
    border: 2px solid var(--bg-color-primary);
    border-radius: 5px;
    background: none;
    outline: none;
    color: var(--color-secondary);
}