.sidebar {
    width: var(--sidebar-width);
    height: calc(100vh - var(--navbar-height));
    background: var(--bg-color-secondary);
    position: relative;

    /**
    transition: width 0.3s;
     */
    transition: all 0.3s ease-out;
}

.switcher {
    width: 100%;
    position: absolute;
    bottom: 1rem;
    display: flex;
    justify-content: center;
}

.collapsed {
    /**
    width: var(--sidebar-width-collapsed);     */
    transform: translateX(-23rem);

    .switcher {
        justify-content: right;
    }
}

.lang {
    margin-left: 1rem;
}
