.sidebar {
    width: var(--sidebar-width);
    height: calc(100vh - var(--navbar-height));
    background: var(--bg-color-secondary);
    position: relative;
    transition: width 0.3s;

    /**
        transition: all 0.3s ease-out;
     */
}

.switcher {
    width: 100%;
    position: absolute;
    bottom: 1rem;
    display: flex;
    justify-content: center;
}

.lang {
    margin-left: 1rem;
}

.collapseBtn {
    position: absolute;
    right: -3.5rem;
    bottom: 2rem;
}

.items {
    margin-top: 2rem;
    margin-left: 2rem;
    display: flex;
    flex-direction: column;
}

.collapsed {
    width: var(--sidebar-width-collapsed);

    /**
    transform: translateX(-23rem);
      */

    .switcher {
        justify-content: right;
        flex-direction: column;
    }

    .lang {
        margin-left: 0;
    }

    .link {
        opacity: 0;
        transition: 0.2s opacity;
        width: 0;
    }
}
