
.item {
    margin-top: 1rem;
    display: flex;
    align-items: center;
}

.link {
    margin-left: 1rem;
    opacity: 1;
}

.icon {
    fill: var(--color-secondary);
}

.collapsed {
    .link {
        opacity: 0;
        transition: 0.2s opacity;
        width: 0;
    }
}
