.title {
    font: var(--font-l);
    color: var(--color-primary);
}

.text {
    font: var(--font-m);
    color: var(--color-secondary);
}

.error {
    .title {
        color: var(--error-light);
    }

    .text {
        color: var(--error-dark);
    }
}
