:root,
.app.light {
    --bg-color-primary: #c8f0ff;
    --bg-color-secondary: #1d235b;
    --color-primary: #003c9f;
    --color-secondary: #a7c5ff;
    --overlay-background-color: rgb(241 206 255 / 25%);
}
