:root,
.app_light_theme {
    --bg-color-primary: #d8dee9;
    --bg-color-secondary: #88c0d0;
    --color-primary: #5e81ac;
    --color-secondary: #4c566a;
    --overlay-background-color: rgb(0 0 0 / 25%);

    transition: all 0.3s ease-out;
}
