.profilecard {
    padding: 1rem;
    border: 2px solid var(--bg-color-secondary);
}

.data {
    margin-top: 2rem;
}

.loading,
.error {
    display: flex;
    justify-content: center;
    align-items: center;
}

.avatarWrapper {
    display: flex;
    justify-content: center;
    width: 100%;
}

.editing {
    border: 2px solid var(--color-primary);
}
