.profilecard {
    padding: 1rem;
    border: 2px solid var(--bg-color-secondary);
}


.data {
    margin-top: 2rem;
}

.loading,
.error {
    display: flex;
    justify-content: center;
    align-items: center;
}
